.summaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 13rem;
  border: 1px solid #e4e7ed;
  margin: 3rem;
  padding: 1rem;
  background-color: #fff;
  color: var(--font-color);
}

.summaryContainerTitle {
  font-family: var(--primary-font);
}

.summaryElements {
  display: flex;
  justify-content: center;
}

.analyticButton {
  margin: 1rem;
}

.modalBody {
  width: 30rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 420px) {
  .summaryContainer {
    height: 12rem;
    width: 20rem;
    margin: 1.5rem;
    padding: 0.5rem;
  }
}
