.transactionContainer {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 18rem;
    border: 1px solid #e4e7ed;
    margin: 3rem;
    padding: 1rem;
    background-color: #fff;
    color: var(--font-color);
} 

.transactionTitle {
    text-align: center;
    font-family: var(--primary-font);
}

.transactionRow {
    margin: 1rem;
}

.dateAndAmountInput {
    height: 2rem;
}

@media screen and (max-width: 420px) {
    .transactionContainer {
        width: 20rem;
        height: 18rem;
    }

    .transactionRow {
        margin: 0.5rem;
    }
  }